
@{
    ViewData["Title"] = "Məlumat tapılmadı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- 404 Error Text -->
<div class="text-center">
    <div class="error mx-auto" data-text="404">404</div>
    <p class="lead text-gray-800 mb-5">Məlumat tapılmadı... </p>
    <p class="text-gray-500 mb-0">Belə bir məlumat daxil edilməyib</p>
    <a href="@Url.Action("Index","Home")">&larr; </a>
</div>
