@model HrPayrollSystemFinal.Viewmodels.CurrentWPViewModel

@{
    ViewData["Title"] = "Vəzifə dəyişikliyi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>İşçilərin vəzifə dəyişikliyi</h2>

<h4></h4>
<div class="row">
    <div class="col-md-10">
        <form asp-action="EditPosition" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label asp-for="WorkerId" class="control-label"></label>
                    @{
                        List<SelectListItem> listItems = new List<SelectListItem>();
                        foreach (Worker item in ViewBag.Workers)
                        {
                            listItems.Add(new SelectListItem
                            {
                                Text = item.Name + " " + item.Surname + " " + item.FatherName,
                                Value = item.Id.ToString()
                            });
                        }
                    }
                    <select asp-for="WorkerId" class="form-control" id="workers" asp-items="listItems" >
                        <option value="">İşçinin adını daxil edin</option>
                    </select>
                    <span asp-validation-for="WorkerId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="CompanyId" class="control-label"></label>
                    <select asp-for="CompanyId" id="companies" class="form-control" asp-items="@(new SelectList(ViewBag.Companies,"Id","Name"))" >
                        <option value="">Şirkət adı daxil edin..</option>
                    </select>
                    <span asp-validation-for="CompanyId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="DepartmentId" class="control-label"></label>
                    <select asp-for="DepartmentId" id="depData" class="form-control" asp-items="@(new SelectList(ViewBag.Departments,"Id","Name"))" >
                        <option value="">Departament daxil edin..</option>
                    </select>
                    <span asp-validation-for="DepartmentId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="ShopId" class="control-label"></label>
                    <select asp-for="ShopId" class="form-control" asp-items="@(new SelectList(ViewBag.Shops,"Id","Name"))" >
                        <option value="">Mağaza daxil edin..</option>
                    </select>
                    <span asp-validation-for="ShopId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="PositionId" class="control-label"></label>
                    <select asp-for="PositionId" class="form-control" asp-items="@(new SelectList(ViewBag.Positions,"Id","Name"))" >
                        <option value="">Vəzife daxil edin..</option>
                    </select>
                    <span asp-validation-for="PositionId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="EntryDate" class="control-label"></label>
                    <input asp-for="EntryDate" class="form-control"  />
                    <span asp-validation-for="EntryDate" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="ExitDate" class="control-label"></label>
                    <input asp-for="ExitDate" class="form-control" />
                    <span asp-validation-for="ExitDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Əlavə et" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Current">Ümumi siyahıya qayıt</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

